
 


/*-----------------------
 General Selectors
------------------------*/
* {margin:0;padding:0;line-height:1.4; font-style:normal;font-weight:normal;}
body { font:normal 100% Helvetica,Arial,sans-serif;min-width:960px;  width: 960px; margin-left: auto; margin-right: auto; }
body { margin-top:  /*105*/ 320px;  }
#slider {background-color: #ffffff;}
h4 {font-size: 18px; color: #000000;}
th {font-weight: bold; padding: 3px;}
#message {border: 1px solid green; background-color: cornsilk;}

.headerContainer {background-color: #ffffff;}


#content{margin-top: 0;  padding-top: 20px; }

#title {color: #484848; text-align: right;}
#container {margin-left: auto; margin-right: auto; margin-top: 200px; }
#login {margin-left: auto; margin-right: auto;}
#loginLine {float: right;}
#logout a {color: #3B6E8F;}
#header{padding-top: 20px;}


#pageTitleDiv{width: 40%; float: left;}
#pageTitleDiv h3{margin: 0;}
#loginDiv{width: 40%; float: right; }
#footer{clear: both;}
#formComplete{display: none; /*clear: both; height:0;line-height:0;display:block;*/}
#logout {float: right;clear: right;}

#makeCopiesDiv{ margin: 10px 2px 30px 2px; width: 95%}

.copyOptions{width: 95%;}

.assessmentDiv{ padding-top: 20px; margin-bottom: 40px; width: 100%;}
input, select {margin-top: 2px; margin-right:5px;}
.coursePrefixColumn {width: 145px;}
#coursePrefixSelectContainer{width: 135px;} 

#coursePrefixSelectContainer input{width: 117px;}
.courseNumberColumn {width: 12%;}

#courseNumberContainer input{width: 75px;}
.courseSectionColumn{width: 11%;}
#courseSectionContainer {width: 78px;}
#courseSectionContainer input {width: 66px;}
.courseTitleColumn {width: 30%;}
#courseTitleContainer {width: 193x;}
#courseTitleContainer input {width: 193px;}
.courseSessionColumn {width: 20%}
#sessionNumberContainer {width: 60px;}
#sessionNumberContainer input {width: 57px;}

#completionStatusDiv {width: 300px; float: right; border: 1px solid red; margin-left: 30px; }

#spacer {position: fixed; top: 0; width: 960px; background-color: #ffffff;height: 35px; z-index: 5; }
#header {position: fixed; top: 0; margin:auto; z-index: 1000; width: 960px; }

div.assessmentList { margin-left: auto; margin-right: auto; margin-top: 4px; padding-left: 100px;}
/*div.assessmentList table {margin-left: auto; margin-right: auto; }*/
table {margin-top: 10px; margin-bottom: 25px;
      /*margin-left: auto; margin-right: auto; */
       padding:5px;
       background-color: #ffffff;
       
      /* -moz-box-shadow: 4px 4px 4px #000000; 
       -webkit-box-shadow: 4px 4px 4px #000000; box-shadow: 4px 4px 4px #000000;*/}
th {color: #484848; font-size: 16px;}
td { border: 1px solid #484848; padding: 4px; background-color: #ffffff;}


form#outcomesTaughtForm{ width: 84%; margin-top: 20px; }
div.outcomesList {margin-top: 30px;}
div#outcomesTaughtDiv {}

.assessmentHeading {margin-top: 10px;}
.pageTitle {color:#E51937; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.contingent {display: none;}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{ -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{ -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{ -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }



h3.comments {font-family: Arial, sans-serif; padding: 3px; margin-top: -4px; margin-left: 40px; color: #ffffff; }
h3.warning {font-family: Arial, sans-serif; padding: 3px; margin-top: -4px; margin-left: 40px; background-color: #FCF38D;color: #000000; border: 1px solid red;}

div.courseID{float: left; margin-right: 5px;}
div.comment{float: left; margin-right: 5px;}
div.floatLeft{ margin-right: 5px;}



div.item {    clear: both; width: 70%; border: 1px solid #cdcdcd; border-left: 2px solid #E51937;  margin-bottom: 20px;    padding: 5px; }
div.item div {display: inline-block;}
div.item h2 {color: #484848; background-color: #ffffff; padding: 4px; width: 42%; border-bottom: 2px solid #cdcdcd; border-top: 2px solid #cdcdcd; margin-bottom: 10px;}
div.complete{ border: 1px solid #cdcdcd; border-bottom: 4px solid #cdcdcd; background-color: #bce4e5; /*#55E0D9*/   margin-left: 0px;
		-moz-box-shadow: 4px 4px 4px #000000; -webkit-box-shadow: 4px 4px 4px #000000; box-shadow: 4px 4px 4px #000000;
                border-left: 0;
		}
                div.complete h2 {color: #484848; background-color: #ffffff; padding: 4px; width: 42%; border-bottom: 2px solid #cdcdcd; border-top: 2px solid #cdcdcd; margin-bottom: 10px;}
                div.complete div#makeCopiesDiv {color: #000000;}
                div.complete div.copyOptions {color: #000000;}
                div.complete span.courseInfo {color: #000000;}
                div.complete span.courseSection {color: #000000;}
                div.complete span.resourcesbox, div.complete span.resourcesBox {color: #000000;}
                div.complete div#completionStatus {color: #000000;}

 .shadow {-moz-box-shadow: 4px 4px 4px #000000; -webkit-box-shadow: 4px 4px 4px #000000; box-shadow: 4px 4px 4px #000000;}               
                
                
                
.logo-block { padding:0px 0px 0px 0px; }
.logo-block h1 a, h1 a:visited {color: #000; text-decoration: none;} 
.logo-block {float:left;width:50%;}
	.logo-block img {float:left;margin-right:10px;}
	.logo-block h1 {font-size:36px;margin-top:6px;}
	.logo-block h2 {font-size:24px;color:#000;}
 #djcWEMlib a, #djcWEMlib{
 color: #000000;
    float: left;
    font-size: 25px;
    text-decoration: none;
    margin-left: 0px;
	font-family: Helvetica,Arial,sans-serif;
 }

#logoTitleDiv{float: left;}
#assessmentTitle a, #assessmentTitle{ text-decoration: none; color: #3B6E8F;font-family: Helvetica,Arial,sans-serif; font-size: 22px; clear: left;}
#masonLibrary {color: #000000;font-family: Helvetica,Arial,sans-serif;}


	
.left {float: left;}
.right{float: right;}


div.item div.hidden, .hidden {display: none;}

h4.outcomeHeading {margin-top: 20px;}
h5.outcomeSubheading {margin-left:10px; color:#3B6E8F;}
div.outcomeHeadingDiv {margin-left: 20px; margin-top: 10px; padding-left: 20px; padding-top: 10px;  border: 1px solid #CDCDCD;}

#assessOutcomesDiv {width: 84%; margin-top: 50px;}

span.needOutcomes, span.needAssessment { border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;
    font-size: 9px;
    margin-left: 10px;
    padding: 2px 5px;
    vertical-align: middle;
    background-color: #ffffff;
 }
 span.needOutcomes.hasChecked {background-color: #BCE4E5;}
 #coursePrefixSelectContainer input {width: 104px;}
 
 .ui-button-icon-only {
    height: 21px;
    vertical-align: top;
    width: 20px;
    margin-top: 2px;
 }
 input {height: 22px;}
 .ui-menu{max-height: 300px; overflow-x: hidden; overflow-y: scroll;}
 
 #submitButton {height: 40px;}
#askCopy{font-size: 12px;} 

#numberOfCopiesDiv .ui-autocomplete-input {width: 20px;}
span.ui-combobox input {background-color: #ffffff; background-image: none; border: 1px solid #A5ACB2; border-radius: 0;}
td.assessmentInput input {width: 40px;}
#assessSubmit {height: 30px;}
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 22px; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; -webkit-overflow-scrolling: touch;} 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }



#sessionNumberContainer .ui-widget, .ui-selectmenu-menu li a, .ui-selectmenu-status {font-size: 11px; margin-bottom: 6px;}
#outcomesTaughtDiv table{margin-left: auto; margin-right: auto;}
#chooseCoursesOTCT{height: 30px; margin-left: 230px; margin-bottom: 20px;}
td form input.assessOutcomeButton.ui-widget {height: 30px;}

#courseIdent, .outcomeHeading {cursor: pointer;}
#courseSummary {margin-left: 20px; }
#OTCTsubmit {height: 30px; margin-left: 200px;}

a#immediateOutcomeEntry {color: #3B6E8F !important; border: 2px solid #484848; padding: 10px;}
a#immediateOutcomeEntry:hover {color: #ffffff !important; background-color: #3B6E8F !important;}
span.name{font-weight: bold !important; }
span.value{font-weight: normal !important;}
span.explode{color: #000000; margin-left: -30px; font-size: 14px; margin-right: 10px; border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;}

table#mySessions {font-size: 12px;}
thead#mySessionsHead th{font-size: 12px;}

tr.summary td {font-weight: bold;}